*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;   
}

ul,li{
    list-style-type: none;
}

.container{
    padding-top: 30px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

body{
    background: linear-gradient(#000,#3f48cc);
    
    background-repeat: no-repeat;
    background-attachment: fixed;

}


/* ========================NAV=========================== */


.nav_wrap{
    display: flex;
    justify-content: space-around;
}

.logo{
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 60px;
    font-family: 'Lobster', cursive;
    position: relative;
    padding-right: 20px;
}

/* =================Reflection=============== */
.logo::after {
  content: attr(data-text);
  position: absolute;
  top: 25px;
  left: 0;
  
  
/* Change the position of transformed element */
  transform-origin: bottom;
/*  Rotates around x-axis */
  transform: rotateX(180deg);
  line-height: 0.85em;
/* linear-gradient defined by up,down,left ,right ,diagonal */
  background-image: linear-gradient(0deg, #ffffff 0, transparent 95%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;         
  opacity: 0.7;
}
/* =============================================== */

.menu ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 40px;
    justify-content: space-around;
}
.menu ul li a{
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Black Ops One', cursive;
    position: relative;
}



.menu ul li a:hover{
  color: #aaa;
}

/* =================Reflection=============== */
.menu ul li a::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  height: 0;  
/* Change the position of transformed element */
  transform-origin: bottom;
/*  Rotates around x-axis */
  transform: rotateX(180deg);
  line-height: 0.85em;
/* linear-gradient defined by up,down,left ,right ,diagonal */
  background-image: linear-gradient(0deg, #ffffff 0, transparent 95%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;         
  opacity: 0.7;
  transition: all linear 0.3s;
}
/* =============================================== */

.menu ul li a:hover::after{
  height: 83%;
}

@media (max-width: 1085px){
  .nav_wrap{
    flex-wrap: wrap;
  }
  .logo{
    margin-bottom: 50px;
  }
 
  .menu{
    padding-top: 10px;
  }
  .menu ul{
    column-gap: 40px;
  }

  .menu ul li a{

    font-size: 30px;
  }
}
/* ========================NAV=========================== */

/* ========================BANNER=========================== */

.ban_wrap{
    display: flex;
    justify-content: space-between;
    
    padding: 10rem 0;
  
}



.ban{
  width: 45%;
  height: 200px;
}

.ban_wrap h1,
.ban_wrap h2 {
  font-weight: 200;
  margin: 0.4rem;
}

.ban_wrap h1 {
  font-size: 8rem;
  color: #aaa;
  margin-bottom: 10px;
}

.ban_wrap h2 {
  font-size: 2rem;
  color: #aaa;
}

/* Cursor */
.txt-type .txt {
  /* border-right: solid 2px #777; */
  padding-right: 3px;
}

.blinking-cursor {
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: #aaa;
  }
  50% {
    color: transparent;
  }
}

@media (min-width: 1200px) {
    .ban_wrap  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 800px) {
  .ban_wrap {
    padding: 0 1;
  }

  .ban_wrap h1 {
    font-size: 2.5rem;
  }

  .ban_wrap{
    padding: 2.5rem 0;
  }

  .ban{
    height: 100px;
  }
}

@media (max-width: 500px) {
    .ban_wrap  h1 {
    font-size: 1.5rem;
  }

  .ban_wrap h2 {
    font-size: 1rem;
  }
}


@media ( max-width: 1300px){
  .ban{
    width: 100%;
  }
}









/* ========================BANNER=========================== */




/* ========================PROJECTS=========================== */

#project{
  margin-top: 80px;
}

.project_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.pro_head{
    padding-top: 60px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    color: gainsboro;
    font-family: 'Permanent Marker', cursive;
}

.pro_head2{
  padding-top: 60px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: gainsboro;
  font-family: 'Permanent Marker', cursive;
}

.p{
    width: 500px;
    height: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0px 0px 36px 0px rgba(245,243,243,0.75);
    -webkit-box-shadow: 0px 0px 36px 0px rgba(245,243,243,0.75);
    -moz-box-shadow: 0px 0px 36px 0px rgba(245,243,243,0.75);
    border-radius: 5px;
    
}



.p:hover{
  box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.75);
}

.p1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.308)), url(../images/Screenshot_1.png);
    background-position: center;
}

.p2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.308)), url(../images/Screenshot_2.png);
    background-position: left;
}

.p3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.308)), url(../images/Screenshot_3.png);
}

.p4{
    background-image:linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.308)), url(../images/Screenshot_4.png);
    background-position: center;
}

.p5{
    background-image:linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.308)), url(../images/Screenshot_5.png);
}

.p6{
  background-image:linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.308)), url(../images/login.png);
  background-position: center;
}

@media (max-width:500px){
  .p{
    width: 300px;
    background-position: center;
  }
}


/* ========================PROJECTS=========================== */



/* ========================About Me=========================== */
.about_wrap{
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 5px;
}

.about_wrap .photo, .about_wrap .info{
  width: 47.5%;
}

.img1{
  height: 100%;
  object-fit: contain;
}


.photo{
  width: 500px;
  height: 800px;
  overflow: hidden;
  object-position: right;
}

.photo h2{
  width: 100%;
  color: aliceblue;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  margin-bottom: 10px;
  font-family: 'Rubik Mono One', sans-serif;

}

.photo h2::after{
  content: "";
  position: absolute;
  width: 243px;
  height: 1px;
  background-color: aliceblue;
  left: 25%;
  bottom: 5px;
}






.about_me p{
  color: azure;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  font-family: 'Courgette', cursive;
}

.work{
  margin-top: 60px;
}

.work .w1 {
  width: 50px;
  height: 50px;
  object-fit: contain;
  display: inline-block;
  border-radius: 6%;
}

.css, .bootstrap, .tailwind, .react, .js{
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 20px;
  padding: 10px 0;
} 

.work h3, .work p{
  font-size: 22px;
  font-weight: 500;
  color: bisque;
  font-family: 'Mada', sans-serif;
}

@media (max-width: 900px){

  .about_wrap .photo{
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
    
  }

  .about_wrap .photo {
    padding: 0 auto;
  }  

  .about_wrap{
    flex-direction: column;
    margin-bottom: 50px;
  }

  .about_wrap .info, .about_wrap .photo{
    width: 100%;
  }
  .photo h2::after{
    visibility: hidden;
  }
}

/* ========================About Me=========================== */

/* ========================Contact Me=========================== */

.contact_wrap{
  width: 100%;
  text-align: center;
  color: #add8e6;
}



.contact_wrap .content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.contact_wrap p{
  padding-top: 70px;
  padding-bottom: 40px;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: rgba(240, 255, 255, 0.747);
}

.contact_wrap h2{
  padding-top: 100px;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: rgba(240, 255, 255, 0.747);
  text-transform: capitalize;
  position: relative;
}

.contact_wrap h2::after{
  content: "";
  position: absolute;
  width: 400px;
  height: 3px;
  background-color: aliceblue;
  right: 95px;
  bottom: 0;
}



.contact_wrap h2::before{
  content: "";
  position: absolute;
  width: 400px;
  height: 3px;
  background-color: aliceblue;
  left: 95px;
  bottom: 0;
}


.contact_wrap i{
  font-size: 100px;
  display: block;
  padding: 30px;
}

.contact_wrap a{
  text-transform: capitalize;
  font-size: medium;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  color: #add8e6;
  

}

@media (max-width:1000px){
  .contact_wrap h2::after{
    display: none;
  }

  .contact_wrap h2::before{
    display: none;
  }
  
  .contact_wrap p{
    padding-top: 35px;
    padding-bottom: 20px;
    font-size: 15px;
  }
}

.whatsapp:hover, .gmail:hover, .fb:hover, .line:hover, .wechat:hover{
  color: rgb(88, 124, 112);
}

.wechat:hover a, .fb:hover a, .line:hover a{
  color: rgb(88, 124, 112);
}


/* ========================Contact Me=========================== */


/* ============================Scroll BTN============================== */
.stt{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #9fa3d1;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-color: #3f48cc;
  border-style: double;
  cursor: pointer;
  text-align: center;
}

.stt i{
  color: #030621;
  padding: 5px 0;
  font-size: 50px;
}

#btn{
  height: 0;
}
