html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(
    245deg,
    #0d0140,
    #140370,
    #194b91,
    #5c9ce6,
    #74b8e8,
    #02b6f7,
    #02d3f7
  );

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 5rem 2rem;
}

#project {
  border-radius: 20px;
  border: 0.5rem solid #ffffffd7;
  overflow: hidden;
  padding: 5rem;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.5),
    90%,
    rgba(255, 255, 255, 0.5)
  );
}

.project_wrap {
  margin-top: 10rem;
}

.mixit_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.mixit_btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.mixit_btn button {
  margin: 0.6rem 0.9rem;
  display: inline-block;
  padding: 1.1rem 0.6rem;
  background: linear-gradient(245deg, #0d0140, #140370, #194b91);
  border: 1px solid whitesmoke;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}

.info {
  color: #ffffffc5;
  font-size: 2.5rem;
  font-weight: 300;
  
}

.pro_head {
  padding-top: 6rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: gainsboro;
  font-family: "Permanent Marker", cursive;
}

.mix {
  width: 50rem;
  height: 50rem;
}



.p {
  width: 50rem;
  height: 50rem;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0px 0px 36px 0px rgba(245, 243, 243, 0.75);
  -webkit-box-shadow: 0px 0px 36px 0px rgba(245, 243, 243, 0.75);
  -moz-box-shadow: 0px 0px 36px 0px rgba(245, 243, 243, 0.75);
  border-radius: 5px;
  transition: all linear 0.3s;
}

.p:hover {
  box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.75);
}

.p::after {
  content: "CLICK TO VISIT";
  color: white;
  position: relative;
  top: 12rem;
  left: 0;
  font-size: 4rem;
  visibility: hidden;
  background-color: #0306218e;
  padding: 35rem 10.293rem;
}

.p:hover::after {
  visibility: visible;
}

.p1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.308)),
    url(../images/Screenshot_1.png);
  background-position: center;
}

.p2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.308)),
    url(../images/Screenshot_5.png);
  background-position: left;
}

.p3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.308)),
    url(../images/Screenshot_3.png);
  background-position: center;
}

.p4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.308)),
    url(../images/Screenshot_4.png);
  background-position: center;
}

.p5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.308)),
    url(../images/Screenshot_2.png);
}

.p6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.308)),
    url(../images/signin.png);
  background-position: center;
}

.p7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.308)),
    url(../images/Screenshot_6.png);
  background-position: top;
}

.p8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.308)),
    url(../images/Screenshot_8.png);
  background-position: left;
}

.p9 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.308)),
    url(../images/html\ email\ template.png);
  background-position: center;
}

/* ============================Scroll BTN============================== */
.stt {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  background-color: #9fa3d1;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-color: #3f48cc;
  border-style: double;
  cursor: pointer;
  text-align: center;
  z-index: 2000;
}

.stt i {
  color: #030621;
  padding: 0.5rem 0;
  font-size: 5rem;
}

#btn {
  height: 0;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .mixit_btn button {
    font-size: 0.9rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 667px) {
  .pro_head{
    padding-top: 3rem;
  }
}

@media screen and (max-width: 600px) {

  #project{
    padding: 2rem;
  }

  .project_wrap{
    margin-top: 7rem;
  }

  .mix {
    width: 30rem;
    height: 30rem;
  }

  .p {
    width: 30rem;
    height: 30rem;
  }
}

@media screen and (max-width: 570px){
  #project{
    padding: 1.5rem;
  }

  .project_wrap{
    margin-top: 4rem;
  }

  .pro_head{
    padding-top: 1.5rem;
    font-size: 2rem ;
  }

  .info{
    font-size: 1rem;
  }


}
